/*This make sure that everything is set to zero*/
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}



/*Imported fonts and being used under fair use*/
@font-face{
    font-family: PopLight;
    src: url('./fonts/Poppins-light.ttf');
}

@font-face{
    font-family: PopRegular;
    src: url('./fonts/Poppins-Regular.ttf');
}

@font-face{
    font-family: LatoLight;
    src: url('./fonts/Lato-Light.ttf');
}

@font-face{
    font-family: LatoRegular;
    src: url('./fonts/Lato-Regular.ttf');
}

@font-face{
    font-family: latoBold;
    src: url('./fonts/Lato-Bold.ttf');
}

@font-face{
    font-family: PTSerifBold;
    src: url('./fonts/PTSerif-Bold.ttf');
}


/*The default font and colour for this webpage*/
body{
    font-family: LatoRegular;
    color: grey;
    /*background: rgba(146, 194, 242, 0.53);*/
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(146, 194, 242, 0.53) 100%);
}


/*The loaction of the footer*/
footer{
    padding-top: 15%;
    padding-bottom: 1%;
    padding-left: 0.5%;
}

/*The style of the links that i am using*/
a {
    color: inherit; /*It gets the coulor of the elemnt it is on eg. it get black if the p tag is black*/
    text-decoration: none;  /*no style*/
}

/*When the mouse is over the link*/
a:hover 
{
     color:#ff3333;    /*Changes the colour*/
     text-decoration:none; 
     cursor:pointer;    /*What the cursor is*/
}

/*setting up the buttons div into a grid layout for the elements inside it*/
.buttons{
    min-height: 9vh;/*Viewport hight*/
    display: grid;  /*type of display*/
    /*Getting the loaction right*/
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 2%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    grid-template-columns: 1fr 1fr 1fr; /*3 columns*/
    grid-template-rows: 70% 70% 70%;    /*3 rows at 70% size*/
}

/*This is port element*/
#port{
    /*Getting the location right*/
    /*grid-row: 1/3;*/
    margin-left: 20%;
    margin-right: 20%;
    grid-column: 2/3;   /*Is in the 2nd column*/
     /*Alligning it to the middle*/
    align-self: center;
    text-align: center;
    font-family: latoBold;
    font-size: 34px;
    color: #4D4DFF;
    border-style: solid;
    border: 2px inherit;
    border-radius: 35px;
    
}

/*This is name element*/
#name{
    /*Getting the location right*/
    margin-left: 5%;
    margin-right: 5%;
    grid-row: 2/3;      /*Is in the 2nd row*/
    grid-column: 2/3;   /*Is in the 2nd column*/
     /*Alligning it to the middle*/
    align-self: center;
    text-align: center;
    font-family: PTSerifBold;
    font-size: 48px;
    color: #4D4DFF;
    border-style: solid;
    border: 2px inherit;
    border-radius: 35px;
}

/*This is work element*/
#work{
    /*Getting the location right*/
    margin-left: 15%;
    margin-right: 15%;
    grid-column: 2/3;   /*Is in the 2nd colums*/
    grid-row: 3/3;      /*Is in the 3rd row*/
     /*Alligning it to the middle*/
    align-self: center;
    text-align: center;
    font-family: latoBold;
    font-size: 34px;
    border-style: solid;
    border: 2px inherit;
    border-radius: 35px;
}

/*This is wreck element*/
#wreck{
    /*Getting the location right*/
    margin-left: 20%;
    margin-right: 20%;
    /*grid-column: 1/3;*/
    grid-row: 2/3;     /*Its in the 2nd row*/
     /*Alligning it to the middle*/
    align-self: center;
    text-align: center;
    font-family: latoBold;
    font-size: 34px;
    border-style: solid;
    border: 2px inherit;
    border-radius: 35px;
}

/*This is projects element*/
#projects{
    /*Getting the location right*/
    margin-left: 22%;
    margin-right: 22%;
    /*grid-column: 3/3;*/
    grid-row: 2/3;  /*In the 3rd row*/
    /*Alligning it to the middle*/
    align-self: center;
    text-align: center;
    font-family: latoBold;
    font-size: 34px;
    border-style: solid;
    border: 2px inherit;
    border-radius: 35px;
}


/*CSS For different screen sizes*/
/*This one is for phone screen sizes less than 1024 pixels wide*/

@media only screen and (max-width:1024px) {
    .Content{
        /*Aligns the text to the centre*/
        text-align: center;
    }
    
    .buttons{
        display: block; /*Displays in block form*/
        padding-right: 15%; /*This section from here puts the button in the right position*/
        padding-left: 15%;
        padding-top: 2%;
        padding-bottom: 5%;
        margin-bottom: 5%;
    }
    
    footer{
        /*Aligns the text to the centre and puts it in the right position*/
        text-align: center;
        padding-top: 25%;
        padding-bottom: 2%;
    }

    p{
        /*This is the padding for the paragraph*/
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 40px;
    }
    
    /*Asigning the border style to none for all*/
    #port{
        border-style: none;
    }
    
    
    #wreck{
        border-style: none;
    }
    
    #work{
        border-style: none;
    }

    #projects{
        border-style: none;
    }
}

/*
    border-style: solid;
    border: 2px inherit;
    border-radius: 35px;
*/