/*This make sure that everything is set to zero*/
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/*Imported fonts and beinmg used under fairuse*/
@font-face{
    font-family: PopLight;
    src: url('./fonts/Poppins-light.ttf');
}

@font-face{
    font-family: PopRegular;
    src: url('./fonts/Poppins-Regular.ttf');
}

@font-face{
    font-family: LatoLight;
    src: url('./fonts/Lato-Light.ttf');
}

@font-face{
    font-family: LatoRegular;
    src: url('./fonts/Lato-Regular.ttf');
}

@font-face{
    font-family: latoBold;
    src: url('./fonts/Lato-Bold.ttf');
}

@font-face{
    font-family: PTSerifBold;
    src: url('./fonts/PTSerif-Bold.ttf');
}

/*The default font and colour for this webpage*/
body{
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #CBFFCB 100%);
    text-align: center;
    font-family: PopLight;
}

/*The navigations style*/
.Nav{
    text-align: center;
    padding-top: 1%;
    font-size: 18px;
}

/*The loaction of the footer*/
footer{
    text-align: center; /*Getting the contents of the footer in the middle*/
    padding-top: 2%;
    padding-bottom: 2%;
}

/*The style of the links that i am using*/
a {
    color: inherit;
    text-decoration: underline;
    padding-left: 2%;
}

/*When the mouse is over the link*/
a:hover 
{
     color:#ff3333;     /*Changes the colour*/
     text-decoration:none; 
     cursor:pointer;    /*Whate the cursor is*/
}


#WorkHeader{
    /*movibg the heading down by 1% of the screen size*/
    padding-top: 1%;
    font-family: latoBold;  /*Setting ht efont style and size and colour*/
    font-size: 64px;
    color: darkblue;
}

p{
    /*maing all the paragraphs the same*/
    font-family: PopLight;
    font-size: 18px;
}

h2{
    /*changing the font size*/
    font-size: 26px;
}

h3{
    /*changing the font size*/
    font-size: 24px;
}

/*getting all the job divs in the right loaction on the screen*/
.Job1{
    padding-top: 2%;
    padding-bottom: 1%;
    padding-right: 20%;
    padding-left: 20%;
}

.Job2{
    padding-top: 2%;
    padding-bottom: 1%;
    padding-right: 20%;
    padding-left: 20%;
}

.Job3{
    padding-top: 2%;
    padding-bottom: 1%;
    padding-right: 20%;
    padding-left: 20%;
}

.Job4{
    padding-top: 2%;
    padding-bottom: 11%;
    padding-right: 20%;
    padding-left: 20%;
}

/*getting the photos in the right location*/
.Photos{
    display: block;
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2.5%;
    margin-bottom: 5%;
}

/*CSS For different screen sizes*/
/*This one is for phone screen sizes less than 1024 pixels wide*/
@media (max-width: 1024px){
    /*The default font and colour for this webpage*/
    body{
        background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #CBFFCB 100%);
        text-align: center;
        font-family: PopLight;
    }
    
    /*Putting the footers contents in the center
    of the div and making the div 2% from the div
    before and 2% from the bottom*/
    footer{
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    /*putting the nav in the right location*/
    .Nav{
         /*Getting the paddings and margins right*/
        text-align: center;
        padding-top: 1%;
        font-size: 24px;
    }
    
    /*The style of the links that i am using*/
    a {
        color: inherit; /*It gets the coulor of the elemnt it is on eg. it get black if the p tag is black*/
        text-decoration: underline;     /*no style*/
        padding-left: 2%;
    }
    
    /*When the mouse is over the link*/
    a:hover 
    {         
        color:#ff3333;      /*Changes the colour*/
        text-decoration:none; 
        cursor:pointer;     /*What the cursor is*/
    }

    /*makes the header bigger and sets the colour and cahnge tes the font*/
    #WorkHeader{
        padding-top: 1%;
        font-family: latoBold;
        font-size: 40px;
        color: darkblue;
    }

    p{
        /*making all the paragraphs the same*/
        font-family: PopLight;
        font-size: 26px;
    }

    h2{
        /*making the h2 36pixels bigger*/
        font-size: 36px;
    }

    h3{
        /*making the h1 bigger*/
        font-size: 34px;
    }
    
    /*getting all the job divs in the right loaction on the screen*/
    .Job1{
        padding-top: 2%;
        padding-bottom: 1%;
        padding-right: 20%;
        padding-left: 20%;
    }

    .Job2{
        padding-top: 2%;
        padding-bottom: 1%;
        padding-right: 20%;
        padding-left: 20%;
    }

    .Job3{
        padding-top: 2%;
        padding-bottom: 1%;
        padding-right: 20%;
        padding-left: 20%;
    }

    .Job4{
        padding-top: 2%;
        padding-bottom: 11%;
        padding-right: 20%;
        padding-left: 20%;
    }

    /*getting the photos in the right location*/
    .Photos{
        display: block;
        text-align: center;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 2.5%;
        margin-bottom: 5%;
    }
}
