/*This make sure that everything is set to zero*/
*,*::before,*::after{
    /*Getting the paddings and margins right*/
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/*Imported fonts and being used under fair use*/
@font-face{
    font-family: PopLight;
    src: url('./fonts/Poppins-light.ttf');
}

@font-face{
    font-family: PopRegular;
    src: url('./fonts/Poppins-Regular.ttf');
}

@font-face{
    font-family: LatoLight;
    src: url('./fonts/Lato-Light.ttf');
}

@font-face{
    font-family: LatoRegular;
    src: url('./fonts/Lato-Regular.ttf');
}

@font-face{
    font-family: latoBold;
    src: url('./fonts/Lato-Bold.ttf');
}

@font-face{
    font-family: PTSerifBold;
    src: url('./fonts/PTSerif-Bold.ttf');
}

body{
    font-family: PopLight;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.5) 0%, #FFE3C6 100%);
    text-align: center;
}

/*This centers the elements that I want to be centered*/
.Logo{
    display: block; /*Display in block form*/
    padding-right: 0%;
    text-align: center; /*Aligns the text to the centre*/
    /*Getting the paddings and margins right*/
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 1%;
    padding-bottom: 2%;
    
}

footer{
     /*Getting the paddings and margins right*/
        text-align: center; /*Aligns the text to the centre*/
        padding-top: 2%;
        padding-bottom: 2%;
    }

a {
    color: inherit;
    text-decoration:underline; /*Underlines the text*/
    
}

a:hover 
{
     color:#ff3333; 
     text-decoration:none; /*No text decoration*/
     cursor:pointer;  
}

.Nav{
     /*Getting the paddings and margins right*/
    text-align: center;
    padding-top: 1%;
}

.Nav a{
     /*Getting the paddings and margins right*/
    padding-left: 2%;
}


#AboutTitle{
    display: block; /*Displays in block form*/
    padding-right: 0%; /*This section from here puts the button in the right position*/
    /*Getting the paddings and margins right*/
    text-align: center; /*Aligns the text to the centre*/
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 24px;
}

#About1{
    display: block; /*Displays in block form*/
    /*Getting the paddings and margins right*/
    padding-right: 0%;
    padding-left: 0%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: -3%;
}

/*setting up the screenshots div into a grid layout for the elements inside it*/
.Screenshots{
    min-height: 9vh;
    display: grid; /*Display in Grid form*/
    /*Getting the paddings and margins right*/
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    grid-template-columns: 1fr 1fr; /*3 columns*/
    grid-template-rows: 100% 100%; /*2 rows at 100% size*/
}

.TracklandGameplayPic{
    text-align: center; /*Aligns the text to the centre*/
}

.BlockRunnerGameplayPic{
    text-align: center; /*Aligns the text to the centre*/
}

#AppsHeader{
    display: block; /*Displays in block form*/
    /*Getting the paddings and margins right*/
    padding-right: 0%;
    text-align: center; /*Aligns the text to the centre*/
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.Trackland{
    text-align: center; /*Aligns the text to the centre*/
}

.OFTR{
    text-align: center; /*Aligns the text to the centre*/
}

.Block{
    text-align: center; /*Aligns the text to the centre*/
}

#trackPara{
    /*Getting the paddings and margins right*/
    padding-left: 15%;
    padding-right: 15%;
    /*Aligns the text to the centre*/
    text-align: center;
}

#oftrPara{
    /*Getting the paddings and margins right*/
    padding-left: 15%;
    padding-right: 15%;
    /*Aligns the text to the centre*/
    text-align: center;
}

#blockPara{
    /*Getting the paddings and margins right*/
    padding-left: 15%;
    padding-right: 15%;
    /*Aligns the text to the centre*/
    text-align: center;
}

#TechHead{
    display: block; /*Displays in block form*/
    padding-right: 0%; /*This section from here puts the button in the right position*/
    /*Getting the paddings and margins right*/
    text-align: center; /*Aligns the text to the centre*/
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*setting up the apps div into a grid layout for the elements inside it*/
.Apps{
    min-height: 9vh;
    display: grid; /*Displays it in a grid layout*/
    /*Getting the paddings and margins right*/
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100% 100% 100%;
}

/*setting up the technologies div into a grid layout for the elements inside it*/
.Technologies{
    /*min-height: 9vh;*/
    display: grid;/*Display in grid form*/
    /*Getting the paddings and margins right*/
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100% 100%;
}

.WordLogos{
    text-align: center; /*Aligns the text to the centre*/
}

.ImageLogos{
    text-align: center; /*Aligns the text to the centre*/
}

h1{
    text-align: center; /*Aligns the text to the centre*/
}

/*CSS For different screen sizes*/
/*This one is for phone screen sizes less than 1024 pixels wide*/
@media (max-width: 1024px) {
    
    body{
        font-family: PopLight;
        font-size: 26px;
        text-align: center; /*Aligns the text to the centre*/
    }
    
    footer{
        text-align: center; /*Aligns the text to the centre*/
        /*Getting the paddings and margins right*/
        padding-top: 2%;
        padding-bottom: 2%;
    }
    
    .Logo{
        text-align: center; /*Aligns the text to the centre*/
    }
    
    .TextAbout{
        text-align: center; /*Aligns the text to the centre*/
    }
    
    #About1{
        /*Getting the paddings and margins right*/
        padding-right: 0%;
        padding-left: 0%;
        text-align: center; /*Aligns the text to the centre*/
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding-bottom: -3%;
    }
    
    .Screenshots{
        display:block;/*Display in block form*/
        /*Getting the paddings and margins right*/
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-bottom: 5%;
    }
    
    .TracklandGameplayPic{
        text-align: center; /*Aligns the text to the centre*/
    }

    .BlockRunnerGameplayPic{
        text-align: center; /*Aligns the text to the centre*/
    }
    
    .Apps{
        display: block;/*Display in block form*/
        /*Getting the paddings and margins right*/
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-bottom: 5%;
    }
    
    .Technologies{
        /*min-height: 9vh;*/
        text-align: center; /*Aligns the text to the centre*/
        /*Getting the paddings and margins right*/
        display: block; /*Display in block from*/
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-bottom: 5%;
    }
    
    h1{
        text-align: center; /*Aligns the text to the centre*/
    }
    
}

/*CSS For different screen sizes*/
/*This one is for phone screen sizes less than 640 pixels wide*/
@media (max-width: 640px) {
    
    body{
        font-family: PopLight;
        font-size: 26px;
        text-align: center; /*Aligns the text to the centre*/
    }
    
    .Nav{
        font-size: 24px;
    }
    
    footer{
        text-align: center; /*Aligns the text to the centre*/
        padding-top: 2%;
        padding-bottom: 2%;
    }
    
    #About1{
        padding-right: 0%;
        text-align: center; /*Aligns the text to the centre*/
        /*Getting the paddings and margins right*/
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: -3%;
    }
    
    .Screenshots{
        display:inline;/*Display in inline form*/
        /*Getting the paddings and margins right*/
        padding-right: 0%;
        padding-left: 0%;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-bottom: 5%;
    }
    
    /*Changing the */
    .TracklandGameplay{
        text-align: center; /*Aligns the text to the centre*/
        width: 300px;
        height: 188px;
    }

    .BlockRunnerGameplay{
        text-align: center; /*Aligns the text to the centre*/
        width: 300px;
        height: 188px;
    }
    
    .Apps{
        display: block;/*Display in block form*/
        /*Getting the paddings and margins right*/
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-bottom: 5%;
    }
    
    .Technologies{
        /*min-height: 9vh;*/
        display: block;/*Display in block form*/
        /*Getting the paddings and margins right*/
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-bottom: 5%;
    }
    
    h1{
        text-align: center; /*Aligns the text to the centre*/
    }
    
}

